@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* font-family: "Libertinus Serif", serif; */

}

.header {
  position: fixed;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
  z-index: 1000;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 70px;
}

.custom-container {
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.custom-brand img {
    height: 50px;
}

/* Menu toggle icon */
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    border: none;
    background: none;
}

.toggle-bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: 0.3s ease;
}

/* Nav Links */
.nav-collapse {
    display: flex;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease;
}



.dropdown {
    position: relative;
}

.dropdown-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #333;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    list-style: none;
    min-width: 150px;
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
}

/* Cart */
.cart {
    position: relative;
    margin-left: 15px;
}

.cart a {
    font-size: 20px;
    color: #333;
    text-decoration: none;
}

.cart-offcanvas {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 420px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    z-index: 9999;
    padding: 20px;
    overflow-y: auto;
    flex-direction: column;
}

.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-close {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.prices {
    margin-top: 20px;
}

.viewcard, .checkout {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 5px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.viewcard:hover, .checkout:hover {
    background-color: #0056b3;
}

/* Responsive */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
        position: absolute;
        right: 70px;
        top: 25px;
    }
    .custom-brand img {
    height: 50px;
    position: relative;
    top: 10px;
}

    .nav-collapse {
        display: none;
        width: 100%;
    }

    .nav-collapse.active {
        display: block;
    }

    .nav-menu {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
        background-color: #f9f9f9;
        margin-top: 15px;
    }

    .cart {
        margin-top: 15px;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
    }
}

.navbar-brand img {
  width: 30%;
  height: 30%;
}

.navbar-nav {
  gap: 15px;
}

.hero-section {
  background-image: url(../images/oceanwp-img-001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 100px;
}

.hero-opacity {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 100px;
  padding: 6rem 0px;
}

.make h3 {
  ont-family: "Merriweather", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: #FF5E5C;
  padding-top: 20px;
}

.unlesh h1 {
  font-family: "Libertinus Serif", serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.3em;
  color: #FFFFFF;
}

.para p {
  color: white;
  font-size: 18px;
  line-height: 30px;
}

.button {
  background-color: #FFFFFF;
  border: none;
  font-size: 17px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
  padding: 12px 28px;
  border-radius: 2px;
  transition: .4s linear;
}

.button:hover {
  color: #B03938;
  transform: scale(1.1);
  /* Zoom 10% */
}

.unlesh1 h1 {
  font-family: "Libertinus Serif", serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.3em;
  color: #283238;
  text-align: center;
}

.main-our-best {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.our-best-bax-content {
  background-color: #F0F0F0;
  text-align: center;
  padding: 20px;
  border-radius: 3px;
}

.our-best-bax-content .images img {
  border-radius: 3px;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
  transition: .2s linear;
}

.our-best-bax-content:hover .images img {
  filter: grayscale(0%) brightness(100%) saturate(100%) blur(0px) hue-rotate(0deg);
  transform: translateY(-3px);
}

.filmo {
  text-align: center;
  padding-top: 20px;
}

.filmo h3 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  margin: 0 0 20px;
  color: #333;
}

.filmo p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #333;
}

.hero-opacity1 {
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 100px;
  padding: 10rem 0px;
  border-top-right-radius: 100px;
}

.world-form-section {
  background-image: url(../images/oceanwp-img-002.jpg);
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  background-size: cover;
}

.unlesh2 h1 {
  font-family: "Libertinus Serif", serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.3em;
  color: #fff;
  text-align: center;
}

.product-main-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.shop-card {
  margin: auto;
  text-align: center;
}

.card {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
  display: block;
}

.card img.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.card:hover img.hover-image {
  opacity: 1;
}

.view-quick-btn {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  color: white;
  border: none;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover .view-quick-btn {
  opacity: 1;
}

.shop-card a {
  font-size: 14px;
  font-weight: 400;
  /* height: 300px; */
  text-transform: uppercase;
  color: #555;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.effeciture h2 {
  font-size: 20px;
  line-height: 1.4;
  margin: 8px 0;
  color: #333;
}

.price h2 {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 700;
  color: #b03938;
  margin: 5px 0;
}

.add-to-cart {
  background-color: #b03938;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 12px 24px;
  margin-top: 10px;
  font-weight: 700;
  transition: 0.3s linear;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #000000;
}

#cart-icon {
  padding: 10px 10px;
  border-radius: 100%;
  border: 1px solid #b03938;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  position: absolute;
  top: -10px;
  
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl .header{
    display: flex !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    justify-content: space-between !important;
    float: right !important;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none !important;
    border-radius: .25rem;
    float: left !important;
    transition: box-shadow .15s ease-in-out;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    font-size: 12px;
}

@media (max-width :900px){


}

.offcanvas-body .images1 {
  border-bottom: 2px solid #B03938;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offcanvas-body .images1 img {
  width: 20%;
  height: 20%;
}

.offcanvas-body .images3 {
  border: 1px solid #B03938;
  padding: 15px;
  cursor: pointer;
}

.prices {
  width: 100%;
  margin-top: 30px;
}

.prices .subtotal {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
}

.prices .subtotal p {
  text-transform: uppercase;
}

.canva-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.canva-button .viewcard {
  text-decoration: none;
  border: none;
  border: 1px solid gray;
  color: #000;
  padding: 12px 44px;
  font-weight: 700;
  transition: 0.3s linear;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.canva-button .checkout {
  background-color: #b03938;
  text-decoration: none;
  color: #ffffff;
  border: none;
  padding: 12px 44px;
  font-weight: 700;
  transition: 0.3s linear;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #B03938;
  padding: 1px 8px;
  border-radius: 50%;
  color: white;
}

.proffesnal-main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
  overflow: hidden;
}

.proffesnal1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

}

.proffesnal1 img {
  transition: 0.2s linear;
  width: 100%;
}

.proffesnal1:hover img {
  transform: translateX(15px);
}

.opacity-box {
  display: inline-block;
  /* Ensures full width */
  padding: 0px 20px;
}

.opacity-box h5 {
  color: white;
  font-size: 30px;
  margin-top: 11rem;
  /* margin: 0 0 10px 0; */
}

.opacity-box:hover i {
  transform: translateX(5px);
  transition: 0.2s linear;
}

.opacity-box a {
  color: #fff;
  text-decoration: none;
}

.opacity-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: 0.3s ease;
}

.proffesnal1:hover .opacity-box {
  transform: translateX(15px);
}

.text-center input {
  padding: 10px 10px;
  width: 40%;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
}

.text-center input::placeholder {
  color: white;
}

.text-center .go {
  background-color: #b03938;
  padding: 5px 15px;
  border-radius: 2px;
  color: white;
  border: 1px solid white;
  position: relative;
  right: 65px;
  cursor: pointer;
}

.text-center input:focus {
  outline: none;
}

.check1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.checkbox {
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.checkbox label {
  color: white;
}
.footer-logo img{
  width: 70% !important;
  height: 70% !important;
}
.footer-columns1{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 70px;
}
.footer-columns h4{
    font-size: 30px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.3em;
    color: #283238;
  font-family: "Libertinus Serif", serif;

}
.footer-columns p{
  color: #000;
  line-height: 30px;
  font-size: 13px;
  font-weight: 600;
}
.footer-columns a{
  color: #000;
  line-height: 30px;
}
.footer-columns a:hover{
  color: #000;
}
.social-icon{
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-icon1{
  background-color: #f0f0f0;
  padding: 8px 10px;
  border-radius: 50%;
  cursor: pointer;
}
.footer-columns ul{
  list-style: none;
  padding: 0px;
}
.footer-columns ul li{
  transition: .2s linear;
}
.footer-columns ul li a{
  text-decoration: none;
  color: #000;
  line-height: 30px;
  font-size: 14px;
  font-weight: 600; 
}
.footer-columns ul li:hover{
  transform: translateX(5px);
}
.bottom-box{
  background-color: #b03938;
  text-align: center;
  padding: 15px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.bottom-box p{
  color: white;
  font-weight: 400;
}
.bottom-box span{
  color: black;
  transition: .2s linear;
}
.bottom-box span:hover{
  color: white;
  cursor: pointer;
}
@media(max-width:1200px){
  .main-our-best {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.footer-columns1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
}
}

@media(max-width:1050px){
  .product-main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.proffesnal-main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    overflow: hidden;
}

}
@media(max-width:776px){
 .main-our-best {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}
  .product-main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-columns1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 70px;
  }
  .unlesh h1 {
    font-size: 40px;
}
.unlesh2 h1 {
    font-size: 30px;
}
.proffesnal-main-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 10px;
    overflow: hidden;
}
/* }
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    display: flex;
    flex-wrap: nowrap; /* no wrapping */
    /* align-items: center;
    justify-content: space-between;
} */

}
@media(max-width:600px){
    .product-main-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.proffesnal-main-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 10px;
    overflow: hidden;
}
.unlesh h1 {
    font-size: 20px;
}
.para p {
    font-size: 14px;
}
.unlesh1 h1 {
    font-size: 30px;
  
}
.make h3 {
    font-size: 15px;
}
.unlesh2 h1 {
    font-size: 30px;
}
}
@media(max-width:400px){
.footer-columns1 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 70px;
  }
  .bottom-box p {
    color: white;
    font-weight: 400;
    font-size: 15px;
}
.unlesh2 h1 {
    font-size: 25px;
}
}

/* About page start  */
.hero-section1{
  background-image: url(../images/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 100px;
}
.hero-opacity1{
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 100px;
  padding: 15rem 0px;
}
.main-selling{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.image-content-selling{
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 30px;
}
.images-selling img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.selling-main-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px 20px;
}
.selling-box1{
  display: flex;
  gap: 20px;
}
.content-box h3{
  font-size: 20px;
}
.content-box p{
  font-size: 14px;
}
@media(max-width:1050px){
  .main-selling {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
}
/* About page end  */

/* shop page start */
.shorting-main-content{
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 5px 0px;
}
.checklist-icon a{
  border: 1px solid #eaeaea;
  padding: 6px 8px;
  color: #b03938;
}
.checklist-icon a:hover{
  color: #b03938;
}
.checklist-icon1 img{
  width:25px;
  height: 25px;
}
.checklist-icon1 a{
  border: 1px solid #eaeaea;
  padding: 6px 5px;
  color: #a3a3a3;
}
.dashbord{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checklist-icon p{
  margin-right: 6px;
    color: #555;
    letter-spacing: .6px;
}
.dashbord-date span{
color: #999;
}
.product-main-content1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
/* shop page end */

/* equipment page start */
.shop-history{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}
/* equipment page end */

/* blog page start */
.main-photography{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.main-photography .photography1 img{
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.main-photography .photography1 img:hover{
  filter: grayscale(0%);
}
.unleash{
  margin-top: 20px;
  border-bottom: 1px solid gray;
}
.unleash span{
  color: #b03938;
  font-size: 14px;
  font-weight: 500;
}
.unleash h4{
  padding-top: 15px;
  font-size: 25px;
}
.unleash p{
  padding-top: 15px;

}
.comments{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.comments span{
  color: #b03938;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}
.comments h6{
  color: #707070;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width : 900px){
  .main-photography {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
}
/* blog page end */

/* contact page start */
.contact-section1{
  background-image: url(../images/pho5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.contact-form{
    background-color: #E6E6E6;
    border-radius: 10px;
    padding: 100px 30px;
  }
  .contact-content{
    padding-right: 70px;
    /* padding-top: 50px; */
  }
  .contact-us{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f0f0f0;
  padding: 50px 20px;
}
/* contact page end */

.login-main-contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.input-feild{
  border: 1px solid #eaeaea;
  padding: 40px 40px;
}
.input-feild2{
  border: 1px solid #eaeaea;
  padding: 32px 40px;
}
.login-contact h1{
      font-size: 50px;
    color: #333;
    line-height: 1;
    font-weight: bold;
}
.input-feild2 h6{
  font-size: 13px;
  line-height: 1;
  letter-spacing: 1px;
  padding-top: 20px;
}

.input-feild2 p{
  font-size: 13px;
  line-height: 25px;
  color: #283238;
}
.comment12{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment12 p{
  font-size: 13px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 500;
}

.comment12 span{
   font-size: 13px;
    line-height: 1;
    letter-spacing: 1px;
}



@media(max-width : 900px){
  .main-contact {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.contact-content {
    padding-right: 0px;
    padding-top: 50px;
}
.login-main-contact {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.product-main-content1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
}

@media(max-width : 500px){
  .product-main-content1 {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 20px;
  }
  .pt-3 {
    padding-top: 1rem!important;
    display: none;
}
  
}
@media(max-width : 800px){
  .shop-history {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
}
  
}
